<div class="mt-4 p-4 bg-white rounded-lg shadow-sm text-lg">
    <% payment_rows = result[:payment_rows] %>
    <% summary = result[:summary] %>
    <% if payment_rows.present? %>
        <% payment_rows.each do |row| %>
            <div class="flex justify-between items-center py-2 <%= 'border-b border-gray-200' unless row == payment_rows.last %>">
                <div>
                    <% if row[:participants].count == 1 %>
                        <span><%= row[:participants].first.name %></span>
                    <% else %>
                        <div >同じ支払い額(<%= row[:participants].count %>人)</div>
                        <div class="text-gray-700 pl-2">
                          <% row[:participants].each do |participant| %>
                            <div>
                              <%= participant.name %>
                            </div>
                          <% end %>
                        </div>
                    <% end %>
                </div>
                <span class="font-bold">
                  <% if row[:participants].count > 1 %>
                    1人あたりの支払い額:
                  <% end %>
                  <%= number_to_currency(row[:amount], precision: 0, unit: "¥", format: "%u%n") %>
                </span>
            </div>
        <% end %>
        <div class="bg-gray-50 rounded-lg p-4 mt-6 text-lg grid grid-cols-3">
          <div>
            <p>レシート金額</p>
            <p><%= number_to_currency(summary[:total_amount], precision: 0, unit: "¥", format: "%u%n") %></p>
          </div>
          <div>
            <p>集金合計額</p>
            <p><%= number_to_currency(summary[:total_paid], precision: 0, unit: "¥", format: "%u%n") %></p>
          </div>
          <div>
            <p>端数・残高</p>
            <p class="text-red-500"><%= number_to_currency(summary[:remainder], precision: 0, unit: "¥", format: "%u%n") %></p>
          </div>
        </div>
    <% else %>
      <p class="text-gray-600 text-center"> レシート金額を入力して割り勘を計算しましょう。</p>
    <% end %>
</div>